<div class="header">
    <span class="home">Home</span>
    <span class="material-icons icon">double_arrow</span>
    <span class="cart">Shopping Cart</span>
</div>
<div>
    <div class="left-div">
        <div class="cart-header">SHOPPING CART(4)</div>
        <div>
            <div class="table-header">
                <div style="width:40%">PRODUCT</div>
                <div style="width:15%">QTY</div>
                <div style="width:15%">PRICE</div>
                <div style="width:15%">TOTAL</div>
                <div style="width:15%"></div>
            </div>
            <div class="table-row" *ngFor="let items of cartItems">
                <div style="display: flex;">
                    <div class="desc">
                        <div><img src="{{baseUrl + items.pdpUrl}}"/></div>
                        <div style="margin: 0 5px;">
                            <div class="font-color">{{items.itemName}}</div>
                            <div class="font-color">Model: {{items.modelNumber}} | Sku: {{items.modelCode}}</div>
                            <div class="text">
                                <div><img src="{{baseUrl + items.bmFinanceDetail.financeImg}}"/></div>
                                <div class="font-design">{{items.bmFinanceDetail.financePromoMsg}}</div>
                            </div>
                            <div class="text">
                                <div><span class="material-icons" style="color: chocolate; cursor:pointer;">favorite_border</span></div>
                                <div class="font-design">Add to wishlist</div>
                            </div>
                        </div>
                    </div>
                    <div class="cell">
                        <button>-</button>
                        <input type="text" style="width: 16px;" value="{{items.itemQuantity}}"/>
                        <button>+</button>
                    </div>
                    <div class="cell">{{items.itemAmount.itemPrice | currency : '$'}}</div>
                    <div class="cell">{{items.itemAmount.itemTotalPrice | currency : '$'}}</div>
                    <div class="cell"><span class="material-icons" style="cursor: pointer;">delete</span></div>
                </div>
                <div *ngIf="items.stores.length > 0" class="options">
                    <div>Choose your delivery option:</div>
                    <div style="margin-left:10px;">
                        <select>
                            <option *ngIf="items.shippingType === 'Store'">Pickup from store</option>
                            <option *ngIf="items.shippingType === 'shipping'">Deliver Online</option>
                        </select>
                    </div>
                    <div *ngIf="items.shippingType === 'Store'" style="margin-left:10px;">
                        <select>
                            <option *ngFor="let store of items.stores" value="{{store.storeName}}">{{store.storeName + " - (" + store.storeDistance +"away)"}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="right-div">
        <div class="box" *ngIf="cartSummary">
            <div class="order-summary-text">ORDER SUMMARY</div>
            <hr>
            <div class="order">
                <div>
                    <span>Subtotal</span>
                    <span class="bill">{{cartSummary.subtotal | currency : '$'}}</span>
                </div>
                <div>
                    <span>Estimated Shipping</span>
                    <span class="bill">{{cartSummary.shippingAmount | currency : '$'}}</span>
                </div>
                <hr>
                <div>
                    <span>Estimated Total</span>
                    <span class="bill">{{cartSummary.cartTotal | currency : '$'}}</span>
                </div>
            </div>
            <hr>
            <div class="tax-text">
                <span class="star">*</span>
                <span>{{cartSummary.taxDisclaimer}}</span>
            </div>
            <div class="checkout">
                <button mat-button class="btn"> Start Secure Checkout </button>
            </div>
        </div>
    </div>
</div>